.idea/*
**/target/**
/logs
**/node_modules/**
quantum-composer/out/quirk.html
dolphinscheduler-ui/public/quirk.html
dolphinscheduler-ui/public/script.js
dolphinscheduler-ui/public/styles.css
.idea
.mvn
logs
gc.log
target
testFile.txt
pnpm-lock.yaml
*.iml
.DS_Store
**/.DS_Store